<div class="abrir-modal animacion fadeIn">
  <div class="modal" style="display: block" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Carro de compras</h5>
        </div>
        <div class="modal-body">
          @if (items.length > 0) {
            <cart [items]="items" (idProductEventEmitter)="onDeleteCart($event)"></cart>
          } @else {
            <div class="alert alert-warning">
              No hay elementos en el carro
            </div>
          }
          <button class="btn btn-secondary float-end" (click)="openShowCart()">X</button>
      </div>
    </div>
  </div>
</div>
</div>
